__pycache__/
*.egg-info/
*.egg
*.spec
*.log
*.pot
*.mo
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
*.pyo
.local
dist
build
*.egg-info/
*.egg
*.spec
*.log
*.pot
*.mo
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pyc
*.pyo
.local
dist
build
